<div
  *ngIf="isOpen"
  id="overlay"
  class="fixed inset-0 bg-black bg-opacity-50 transition-opacity duration-300 z-50"
  (click)="closeSidebar($event)"
></div>

<!-- Sidebar -->
<div
  class="fixed top-0 left-0 h-full bg-gray-100 shadow-lg w-64 transform transition-transform duration-300 z-50"
  [ngClass]="{'-translate-x-full': !isOpen, 'translate-x-0': isOpen}"
>
  <div class="pt-16 px-6 pb-8 flex flex-col h-full">
    <img
      src="assets/images/avatar.png"
      alt="avatar"
      class="rounded-full size-24 object-cover shadow-lg shadow-yellow-200 mb-2"
    />
    <h2 class="text-xl font-semibold mb">User</h2>
    <h3 class="text-xs text-darkGray mb-6">
      Userexample.com
    </h3>
    <ul class="space-y-2">
      <li class="flex items-center hover:bg-gray-100 p-2 rounded">
        <img src="assets/icons/nav-orders.svg" alt="orders" class="mr-2" />
        <span>My Orders</span>
      </li>
      <li class="flex items-center hover:bg-gray-100 p-2 rounded">
        <img src="assets/icons/nav-profile.svg" alt="profile" class="mr-2" />
        <span>My Profile</span>
      </li>
      <li class="flex items-center hover:bg-gray-100 p-2 rounded">
        <img src="assets/icons/nav-location.svg" alt="" class="mr-2" />
        <span>Delivery Adress</span>
      </li>
      <li class="flex items-center hover:bg-gray-100 p-2 rounded">
        <img src="assets/icons/nav-payment.svg" alt="" class="mr-2" />
        <span>Payment Methods</span>
      </li>
      <li class="flex items-center hover:bg-gray-100 p-2 rounded">
        <img src="assets/icons/nav-contact.svg" alt="" class="mr-2" />
        <span>Contact Us</span>
      </li>
      <li class="flex items-center hover:bg-gray-100 p-2 rounded">
        <img src="assets/icons/nav-setting.svg" alt="" class="mr-2" />
        <span>Settings</span>
      </li>
      <li class="flex items-center hover:bg-gray-100 p-2 rounded">
        <img src="assets/icons/nav-help.svg" alt="" class="mr-2" />
        <span>Helps & FAQs</span>
      </li>
    </ul>
    <button (click)="logout()" class="flex max-w-max mt-auto p-2 pr-4 bg-primary rounded-full text-white items-center shadow-lg shadow-orange-300">
      <img src="assets/icons/logout.svg" alt="logout" class="mr-2">
      Logout
    </button>
  </div>
</div>

<header class="flex items-center px-6 py-8 lg:mb-4">
  <button (click)="toggleSidebar()"
    class="size-10 rounded-lg shadow-md"
  >
    ☰
  </button>
  <div class="grow text-center mx-2">
    <h3 class="align-center text-base">Deliver to</h3>
    <p class="text-primary">4102  Pretty View Lane</p>
  </div>
  <img src="assets/images/avatar.png" alt="avatar" class="size-10 rounded-lg">
</header>

<mat-progress-bar *ngIf="loading()" mode="indeterminate"></mat-progress-bar>

<main class="mb-8 lg:m-auto lg:mb-2 lg:w-4/5 ">
  <div class="px-6 mb-32 m-auto lg:w-5/6">
    <h1 class="mr-16 mb-4 text-3xl font-bold">
      What would you like to order
    </h1>
    <div></div>
  </div>
  <div></div>
  <div class="pl-6">
    <div class="flex justify-between mr-6 mb-2">
      <h2 class="text-lg">Featured restaurants</h2>
      <button class="text-xs text-primary">View All ></button>
    </div>
    <div 
      *ngIf="(restaurants$ | async) as restaurants"
      class="flex overflow-x-auto space-x-4 md:scrollbar md:scrollbar-thin md:scrollbar-track-gray-100 md:scrollbar-thumb-gray-500 scrollbar-none"
    >
      <app-card class="mb-4" *ngFor="let restaurant of restaurants"
        [data]="restaurant"
        (favouriteToggled)="toggleFavourite($event.id, $event.type)"
        [routerLink]="['/restaurants', restaurant._id]"
        >
      </app-card>
    </div>
  </div>
  <div class="p-6">
    <h2 class="text-lg mb-2">Popular items</h2>
    <div 
      *ngIf="(foodItems$ | async) as foodItems"
      class="flex flex-wrap justify-between"
    >
      <app-secondary-card class="mb-4" *ngFor="let foodItem of foodItems"
        [data]="foodItem"
        (favouriteToggled)="toggleFavourite($event.id, $event.type)"
        [routerLink]="['/food-items', foodItem._id]"
        >
      </app-secondary-card>
    </div>
  </div>
</main>
<footer class="fixed -bottom-1 right-0 left-0 p-4 flex justify-between bg-white z-20 lg:hidden">
  <img src="assets/icons/compass.svg" alt="navigation">
  <img src="assets/icons/location.svg" alt="location">
  <img src="assets/icons/cart.svg" alt="cart">
  <img src="assets/icons/grey-heart-big.svg" alt="favourite">
  <img src="assets/icons/bell.svg" alt="notification">
</footer>
